.header {
  background-color: var(--colorPink);
  display: flex;
  justify-content: space-between;
  padding: var(--largeMargin);
}

.h2-like {
  text-transform: uppercase;
  font-size: var(--smallfont);
}

.h1-like {
  font-size: var(--bigfont);
}
