.title_mini {
  text-transform: uppercase;
  font-size: var(--smallfont);
  margin: var(--mediumMargin);
}

.visually-hidden {
  display: none;
}

.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.emptystate__content {
  color: var(--colorGrey);
  margin: var(--mediumMargin);
}

.orders__wrapper {
  /* padding: var(--largeMargin); */
}

.total {
  background-color: var(--colorTotalGey);
  padding: var(--mediumMargin) var(--largeMargin);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
