.title_mini {
  text-transform: uppercase;
  font-size: var(--smallfont);
}

.visually-hidden {
  display: none;
}

.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.emptystate__content {
  color: var(--colorGrey);
  margin: var(--mediumMargin);
}

.orders__wrapper {
  padding: var(--largeMargin);
}

.total {
  background-color: var(--colorTotalGey);
}
