@import './css/reset.css';
@import './css/vars.css';
@import './css/components/header.css';
@import './css/components/pricelist.css';
@import './css/components/orders.css';

html {
  font-family: Roboto, sans-serif;
  color: var(--textColor);
}
