@import './css/reset.css';
@import './css/vars.css';
@import './css/components/header.css';
@import './css/components/pricelist.css';
@import './css/components/orders.css';

html {
  font-family: Roboto, sans-serif;
  color: var(--textColor);
}

@media (--small-screen) {

  .prices__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (--large-screen) {

  .layout {
    display: grid;
    grid-template-columns: 19rem 1fr;
    grid-template-rows: 8.25rem 1fr;
    height: 100vh;
  }

  .prices {
    grid-column: 1;
    grid-row: 2;
  }

  .prices__list {
    display: flex;
    flex-flow: column;
  }

  .header__img {
    display: none;
  }

  .prices__list li:nth-of-type(1n+5) {
    display: inline;
  }

  .content {
    grid-row: 0 span 2;
  }

  .prices__img {
    display: block;
    margin: 0 auto;
  }

  .price {
    margin-bottom: var(--mediumMargin);
  }
}
